@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 16% 96%;
    --foreground: 225 10% 10%;

    --card: 0 0% 100%;
    --card-foreground: 225 10% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 225 10% 10%;

    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 10% 90%;
    --secondary-foreground: 225 10% 10%;

    --muted: 220 10% 90%;
    --muted-foreground: 225 10% 45%;

    --accent: 186 100% 42%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 10% 88%;
    --input: 220 10% 88%;
    --ring: 231 48% 48%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 222 47% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 231 48% 48%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217 33% 20%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 20%;
    --muted-foreground: 210 40% 60%;

    --accent: 186 100% 42%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 217 33% 20%;
    --input: 217 33% 20%;
    --ring: 231 48% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
